//custom.scss

// Variables
$primary: rgb(255, 166, 0);
$secondary: green;

// Mixin
@mixin center-element {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.test {
    color: $primary;

    // Nesting
    .test-2 {
        color: $secondary;
        @include center-element();
    }
}